:root {
	--ch-scrollbar-width: 6px;
	--ch-scrollbar-border-radius: 6px;
}

/* ------------------------------------------------------ */
/* ----------------------- HEADER ----------------------- */
/* ------------------------------------------------------ */
.ch-header-toolbar {
	padding-inline: 12px;
	--min-height: 56px;
	user-select: none;
}

.ch-header-title {
	font-size: 17px;
	user-select: none;
	padding-inline: 12px;
}

/* ------------------------------------------------------ */
/* -------------------- END HEADER ---------------------- */
/* ------------------------------------------------------ */

/* ------------------------------------------------------ */
/* ------------------------ LIST ------------------------ */
/* ------------------------------------------------------ */
.ch-list-container {
	display: flex;
	flex-direction: column;
	height: 100%;
	width: 100%;
}

.ch-list-container cdk-virtual-scroll-viewport.ch-vscroll-viewport {
	height: 100%;
	width: 100%;
	background-color: var(
		--ion-item-background,
		var(--ion-background-color, #fff)
	);
	overflow-x: hidden;
}

.ch-searchbar-container {
	background-color: var(
		--ch-searchbar-background,
		--ion-background-color,
		#fff
	);
}
.ch-searchbar-container ion-searchbar.sc-ion-searchbar-ios-h {
	height: 50px;
}

.ch-searchbar-container ion-searchbar .searchbar-input-container {
	height: 30px;
}

.ch-searchbar-container
	ion-searchbar
	.searchbar-input-container
	.searchbar-input {
	font-size: 14px;
}

.ch-searchbar-container
	ion-searchbar
	.searchbar-input-container
	.searchbar-search-icon {
	width: 20px;
}

.ch-list-item-selected {
	--background: var(
		--ch-background-selected,
		--ion-color-light,
		rgba(0, 0, 0, 0.4)
	);
	--background-hover-opacity: 0;
}

.ch-list-nodata {
	width: 100%;
	user-select: none;
}

body:not(.ch-scroll-mobile) .ch-vscroll-viewport::-webkit-scrollbar,
body:not(.ch-scroll-mobile)
	.ch-vscroll-viewport
	.rx-virtual-scroll__runway::-webkit-scrollbar {
	width: var(--ch-scrollbar-width);
}

body:not(.ch-scroll-mobile)
	.ch-vscroll-viewport::-webkit-scrollbar-track,
body:not(.ch-scroll-mobile)
	.ch-vscroll-viewport
	.rx-virtual-scroll__runway::-webkit-scrollbar-track {
	background-color: transparent;
	border-radius: var(--ch-scrollbar-border-radius);
}

body:not(.ch-scroll-mobile)
	.ch-vscroll-viewport::-webkit-scrollbar-thumb,
body:not(.ch-scroll-mobile)
	.ch-vscroll-viewport
	.rx-virtual-scroll__runway::-webkit-scrollbar-thumb {
	background-color: var(--ch-color-scroll, rgba(204, 204, 215, 0.8));
	border-radius: var(--ch-scrollbar-border-radius);
}

body:not(.ch-scroll-mobile)
	.ch-vscroll-viewport::-webkit-scrollbar-thumb:hover,
body:not(.ch-scroll-mobile)
	.ch-vscroll-viewport
	.rx-virtual-scroll__runway::-webkit-scrollbar-thumb:hover {
	background-color: var(--ch-color-scroll-hover, rgb(201, 201, 210));
}
body .ch-scroll-hidden.ch-vscroll-viewport::-webkit-scrollbar,
body
	.ch-scroll-hidden.ch-vscroll-viewport
	.rx-virtual-scroll__runway::-webkit-scrollbar,
.ch-scroll-hidden::-webkit-scrollbar {
	width: 0px;
	-webkit-overflow-scrolling: touch; /* Enables smooth scrolling on iOS */
	touch-action: auto;
}

/* ------------------------------------------------------ */
/* ---------------------- END LIST ---------------------- */
/* ------------------------------------------------------ */

/* ------------------------------------------------------ */
/* ------------------------ INPUT ----------------------- */
/* ------------------------------------------------------ */
.ch-input {
	padding: 15px 16px 14px;
	line-height: 24px;
}

/* ------------------------------------------------------ */
/* --------------------- END INPUT ---------------------- */
/* ------------------------------------------------------ */
.sc-ion-buttons-ios-s .button-clear {
	--color: var(
		--ch-button-color-clear,
		--ch-color-primary,
		--ion-color-primary,
		#000
	);
}

.sc-ion-buttons-md-s ion-button.ch-header-btn {
	font-size: 16px;
	--padding-start: 8px;
	--padding-end: 8px;
	--padding-top: 8px;
	--padding-bottom: 8px;
}
