/* ------------------------------------------------------ */
/* ------------------------ LIST ------------------------ */
/* ------------------------------------------------------ */
.ch-list-container {
	display: flex;
	flex-direction: column;
	height: 100%;
	width: 100%;
}

.ch-list-container cdk-virtual-scroll-viewport.ch-vscroll-viewport {
	height: 100%;
	width: 100%;
	background-color: var(
		--ion-item-background,
		var(--ion-background-color, #fff)
	);
	overflow-x: hidden;
}

.ch-searchbar-container {
	background-color: var(
		--ch-searchbar-background,
		--ion-background-color,
		#fff
	);
}
.ch-searchbar-container ion-searchbar.sc-ion-searchbar-ios-h {
	height: 50px;
}

.ch-searchbar-container ion-searchbar .searchbar-input-container {
	height: 30px;
}

.ch-searchbar-container
	ion-searchbar
	.searchbar-input-container
	.searchbar-input {
	font-size: 14px;
}

.ch-searchbar-container
	ion-searchbar
	.searchbar-input-container
	.searchbar-search-icon {
	width: 20px;
}

.ch-list-item-selected {
	--background: var(
		--ch-background-selected,
		--ion-color-light,
		rgba(0, 0, 0, 0.4)
	);
	--background-hover-opacity: 0;
}

.ch-list-nodata {
	width: 100%;
	user-select: none;
}

.ch-list-container:not(.ch-scroll-mobile)
	.ch-vscroll-viewport::-webkit-scrollbar,
.ch-list-container:not(.ch-scroll-mobile)
	.ch-vscroll-viewport
	.rx-virtual-scroll__runway::-webkit-scrollbar {
	width: 0.3rem;
}

.ch-list-container:not(.ch-scroll-mobile)
	.ch-vscroll-viewport::-webkit-scrollbar-track,
.ch-list-container:not(.ch-scroll-mobile)
	.ch-vscroll-viewport
	.rx-virtual-scroll__runway::-webkit-scrollbar-track {
	background-color: transparent;
	border-radius: 6px;
}

.ch-list-container:not(.ch-scroll-mobile)
	.ch-vscroll-viewport::-webkit-scrollbar-thumb,
.ch-list-container:not(.ch-scroll-mobile)
	.ch-vscroll-viewport
	.rx-virtual-scroll__runway::-webkit-scrollbar-thumb {
	background-color: var(--ch-color-scroll, rgba(204, 204, 215, 0.8));
	border-radius: 6px;
}

.ch-list-container:not(.ch-scroll-mobile)
	.ch-vscroll-viewport::-webkit-scrollbar-thumb:hover,
.ch-list-container:not(.ch-scroll-mobile)
	.ch-vscroll-viewport
	.rx-virtual-scroll__runway::-webkit-scrollbar-thumb:hover {
	background-color: var(--ch-color-scroll-hover, rgb(201, 201, 210));
}

/* ------------------------------------------------------ */
/* ---------------------- END LIST ---------------------- */
/* ------------------------------------------------------ */
